<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palleteforco.palleteforco.domain.cart.mapper.CartMapper">
    <insert id="insertCart" useGeneratedKeys="true" keyProperty="cart_id">
        INSERT INTO CART(EMAIL, PRODUCT_ID, CART_QTY, CART_DATE, CART_STATUS, TIME_OUT)
        SELECT #{email}, #{product_id}, #{cart_qty}, NOW(), #{cart_status}, DATE_ADD(NOW(), INTERVAL 7 DAY)
        FROM MEMBER M
        WHERE M.EMAIL = #{email}
    </insert>
    <select id="selectCartById">
        SELECT *
        FROM CART
        WHERE CART_ID = #{cart_id}
    </select>
    <update id="updateCart">
        UPDATE CART
        SET CART_QTY = #{cart_qty}, CART_DATE = NOW(), TIME_OUT = NOW() + INTERVAL 7 DAY
        WHERE CART_ID = #{cart_id} AND EMAIL = #{email} AND PRODUCT_ID = #{product_id}
    </update>
    <update id="updateCartStatus">
        UPDATE CART
        SET CART_STATUS = 1
        WHERE CART_ID = #{cart_id}
    </update>
    <delete id="deleteCart">
        DELETE FROM CART
        WHERE CART_ID = #{cart_id}
    </delete>
    <select id="selectExistForCart">
        SELECT *
        FROM CART
        WHERE EMAIL = #{email} AND PRODUCT_ID = #{product_id} AND CART_STATUS = 0;
    </select>
    <select id="selectMyCart">
        <![CDATA[
            SELECT *
            FROM CART
            WHERE EMAIL = #{email} AND TIME_OUT > NOW()
        ]]>
    </select>
</mapper>