<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palleteforco.palleteforco.domain.dib.mapper.DibMapper">
    <insert id="insertDib" useGeneratedKeys="true" keyProperty="dib_id">
        INSERT INTO DIB(EMAIL, PRODUCT_ID)
        SELECT #{email}, P.PRODUCT_ID
        FROM MEMBER M, PRODUCT P
        WHERE M.EMAIL = #{email} AND P.PRODUCT_ID = #{product_id}
    </insert>
    <select id="selectDibById">
        SELECT *
        FROM DIB
        WHERE DIB_ID = #{dib_id}
    </select>
    <delete id="deleteDib">
        DELETE FROM DIB
        WHERE DIB_ID = #{dib_id} AND PRODUCT_ID = #{product_id}
    </delete>
    <select id="selectMyDib">
        SELECT *
        FROM DIB
        WHERE EMAIL = #{email}
    </select>
    <select id="selectDibByEmailProductId">
        SELECT *
        FROM DIB
        WHERE EMAIL = #{email} AND PRODUCT_ID = #{product_id}
    </select>
</mapper>