<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palleteforco.palleteforco.domain.member.mapper.MemberMapper">
    <insert id="insertMemberInfo" useGeneratedKeys="true" keyProperty="member_id">
        INSERT INTO MEMBER(EMAIL, NAME, PHONE_NUMBER, JOIN_DATE)
        SELECT G.EMAIL, #{name}, #{phone_number}, #{join_date}
        FROM GOOGLE G
        WHERE G.EMAIL = #{email}
    </insert>
    <select id="selectMemberProfile">
        SELECT *
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>
    <update id="updateMemberInfo">
        UPDATE MEMBER
        SET NAME = #{name}, PHONE_NUMBER = #{phone_number}
        WHERE EMAIL = #{email}
    </update>
    <select id="selectGoogleMemberInfo">
        SELECT G.EMAIL, G.ROLE, M.NAME, M.PHONE_NUMBER, M.JOIN_DATE
        FROM GOOGLE G
        JOIN MEMBER M ON G.EMAIl = M.EMAIL
        WHERE G.EMAIL = #{email}
    </select>
</mapper>