<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palleteforco.palleteforco.domain.product.mapper.ProductMapper">
    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="product_id">
        INSERT INTO PRODUCT(PRODUCT_NAME, PRICE, QTY, PRODUCT_IMAGE, PRODUCT_DETAIL)
        VALUES(#{product_name}, #{price}, #{qty}, #{product_image}, #{product_detail})
    </insert>
    <select id="selectProductList">
        SELECT PRODUCT_ID,
               PRODUCT_NAME,
               PRICE,
               QTY,
               PRODUCT_IMAGE
        FROM PRODUCT
    </select>
    <select id="selectProductListDetail">
        SELECT *
        FROM PRODUCT
        WHERE PRODUCT_id = #{product_id}
    </select>
    <update id="updateProduct">
        UPDATE PRODUCT
        SET PRODUCT_NAME = #{product_name},
            PRICE = #{price},
            QTY = #{qty},
            PRODUCT_IMAGE = #{product_image},
            PRODUCT_DETAIL = #{product_detail}
    </update>
    <update id="updateProductQty">
        UPDATE PRODUCT
        SET QTY = QTY - (SELECT C.CART_QTY
                         FROM CART C
                         JOIN ORDERS O ON C.CART_ID = O.CART_ID
                         WHERE O.CART_ID = #{cart_id})
        WHERE PRODUCT_ID = (SELECT PRODUCT_ID P
                            FROM CART C
                            JOIN ORDERS O ON C.CART_ID = O.CART_ID
                            WHERE O.CART_ID = #{cart_id})
    </update>
    <select id="selectProductForUpdate">
        SELECT qty
        FROM PRODUCT
        WHERE PRODUCT_ID = #{product_id}
        FOR UPDATE
    </select>
</mapper>