<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palleteforco.palleteforco.domain.review.mapper.ReviewMapper">
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="review_id">
        INSERT INTO REVIEW(ORDERS_ID, REVIEW_CONTENT, REVIEW_FILE_ATTACH, SCORE)
        VALUES(#{orders_id}, #{review_content}, #{review_file_attach}, #{score})
    </insert>
    <select id="selectReviewList">
        SELECT *
        FROM REVIEW
    </select>
    <update id="updateReview">
        UPDATE REVIEW
        SET REVIEW_CONTENT = #{review_content},
            REVIEW_UPDATE_DATE = #{review_update_date},
            REVIEW_FILE_ATTACH = #{review_file_attach},
            SCORE = #{score}
        WHERE ORDERS_ID = #{orders_id}
    </update>
    <delete id="deleteReview">
        DELETE FROM REVIEW
        WHERE REVIEW_ID = #{review_id}
    </delete>
</mapper>